﻿@page "/member"
@using KSU.Data
@inject MemberService MemberService
@inject IJSRuntime JSRuntime
<h3>Memeber</h3>

@if (memberList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-success" @onclick="()=>addMember()" style="float:right;">add</button>
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>password</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var memeber in memberList)
            {
                <tr>
                    <td>@memeber.name</td>
                    <td>@memeber.password</td>
                    <td><button class="btn btn-warning" @onclick="()=>editMember(memeber)"> edit</button> | <button class="btn btn-danger" @onclick="()=>deleteMember(memeber)">delete</button></td>
                </tr>
            }
        </tbody>
    </table>


    <div class="modal fade" id="@addModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Memeber</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">name:</label>
                            <input type="text" class="form-control" @bind="@name">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">passwrod:</label>
                            <input type="text" class="form-control" @bind="@password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" @onclick="()=>save()">save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="@editModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Memeber</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">name:</label>
                            <input type="text" class="form-control" @bind="@editName">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">passwrod:</label>
                            <input type="text" class="form-control" @bind="@editPassword">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" @onclick="()=>update()">update</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private List<Data.Member> memberList;
    private string? addModal;
    private string? name;
    private string? password;
    private string? editModal;
    private string? editName;
    private string? editPassword;
    private int editId;

    protected override void OnInitialized()
    {
        this.memberList = MemberService.getMemberList();

        if (string.IsNullOrEmpty(this.addModal))
        {
            this.addModal = Guid.NewGuid().ToString();
        }

        if (string.IsNullOrEmpty(this.editModal))
        {
            this.editModal = Guid.NewGuid().ToString();
        }
    }

    protected void addMember()
    {
        JSRuntime.InvokeVoidAsync("bootstrapModal.showModal", this.addModal);
    }

    protected void save()
    {
        MemberService.save(new Data.Member { name = this.name, password = this.password });
        JSRuntime.InvokeVoidAsync("bootstrapModal.hideModal");
        this.initMember();
    }

    protected void initMember()
    {
        this.name = string.Empty;
        this.password = string.Empty;
    }

    protected void deleteMember(Data.Member member)
    {
        MemberService.deleteMember(member);
    }

    protected void editMember(Data.Member member)
    {
        this.editName = member.name;
        this.editPassword = member.password;
        this.editId = member.id;
        JSRuntime.InvokeVoidAsync("bootstrapModal.showModal", this.editModal);
    }

    protected void update()
    {
        MemberService.update(new Data.Member { id = this.editId, name = this.editName, password = this.editPassword });
        JSRuntime.InvokeVoidAsync("bootstrapModal.hideModal");
    }

}
